<br/>
<input type="text" [(ngModel)]="title" (input)="searchByTheTitle()" placeholder="Search by the title" class="searchbar"/> 
<br /><br />
<table class="table">
  <thead>
    <tr>
        <th id="title">Title</th>
        <th id="type">Type</th>
        <th id="content-id">Content ID</th>
        <th id="creation-date">Creation Date</th>
        <th id="duration">On Demand Duration</th>
        <th id="description">On Demand Encoding Description</th>
        <th id="status">On Demand Encoding Status</th>
        <th id="file-name">On Demand File Name</th>
        <th id="publish-date">Publish Date UTC</th>
        <th id="update-date">Update Date</th>
    </tr>
  </thead>  
  <tbody>
    <tr *ngFor="let content of contents | slice: (currentPage * pageSize) - pageSize :currentPage * pageSize">
      <td id="title"><div id="title-div">{{content.title}}</div></td>
      <td id="type">{{content.contentType}}</td>
      <td id="content-id">{{content.contentId}}</td>
      <td id="creation-date">{{content.creationDate}}</td>
      <td id="duration">{{content.onDemandDuration}}</td>
      <td id="description">{{content.onDemandEncodingDescription}}</td>
      <td id="status">{{content.onDemandEncodingStatus}}</td>
      <td id="file-name">{{content.onDemandFileName}}</td>
      <td id="publish-date">{{content.publishDateUTC}}</td>
      <td id="update-date">{{content.updateDate}}</td>
    </tr>
  </tbody>
</table>
<p class="paging">
  <button [disabled]="currentPage == 1" (click)="currentPage = currentPage - 1" class="previous-button">Previous</button>
  <span class="paging-text">Page {{currentPage}} of {{ numberOfPages() }}</span>
  <button [disabled]="currentPage >= contents.length/pageSize" (click)="currentPage = currentPage + 1" class="next-button">Next</button>
</p>
<br/><br/><br/>